@tailwind base;
@tailwind components;
@tailwind utilities;

.condensed {
  font-family: "condensed";
  
}

.neue{
  font-family: "neue";
  

}
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

input{
  @apply w-full px-3 py-2 rounded-md bg-black/20 shadow-sm text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
}